*WORKING WITH MP4 to WAV conversion*

In [1]:
import moviepy                                      #using to convert to audio {video --> audio}
from moviepy.editor import *                      

# video = VideoFileClip('/content/GMT20200508-061804_CN-revision[Trim].mp4') #parameters can change 
# audio = video.audio 
# audio.write_audiofile('/content/mine.wav')   #can change

In [18]:
import speech_recognition as sr

In [19]:
print(sr.__version__)

3.8.1

In [20]:
r = sr.Recognizer()                        #making instance of recognizer class

In [21]:
harvard = sr.AudioFile('honey-look-at-this.wav')
with harvard as source:
    audio = r.record(source=source)                   #TEST CASE - 1 (WITHOUT NOISE)

In [22]:
type(audio)                                         #TEST CASE - 1

speech_recognition.AudioData

In [23]:
r.recognize_google(audio)                          #APi request

'what us'

In [24]:
# jackhammer = sr.AudioFile('/content/honey-look-at-this.wav')
# with jackhammer as source:
#   r.adjust_for_ambient_noise(source)
#   audio = r.record(source, duration=0.5)
# r.recognize_google(audio)                                    #ERROR WITH NOISY DATA -->(if any of can solve this please try)

In [25]:
r.recognize_google(audio, show_all=True)

{'alternative': [{'transcript': 'what us', 'confidence': 0.81826693},
  {'transcript': 'what you s'},
  {'transcript': 'what u s'},
  {'transcript': 'are what us'},
  {'transcript': 'us'}],
 'final': True}

*Converting text files to csv files*

In [26]:
#We kept a zoom meeting and everybody contributed to the codeb
import pandas as pd

In [27]:
globalText = [] #List containing the text
globalSummary = [] #List containing summarization of the corresponding text

In [50]:
textDatasetFileName = ['business', 'entertainment', 'politics', 'sport', 'tech']
for sub in textDatasetFileName:       #Looping through all folders
    path = r'C:\Users\Gehlot Pratik\Desktop\SEM-5\ML\pracs\BBC News Summary\BBC News Summary\News Articles\\' + sub
    files = os.listdir(path)
    textFileName = []
    for f in files:             #Creating list of all text file names for particular category
        textFileName.append(f)         
    
    #For creating list of text
    for i in textFileName:
        with open(path + '\\' + i , 'r',encoding = 'utf-8') as in_file:
            try:
                file_text = in_file.read().replace('\n', '')
                globalText.append(file_text)
            except:
                print(path + i)
                continue

    path1 = r'C:\Users\Gehlot Pratik\Desktop\SEM-5\ML\pracs\BBC News Summary\BBC News Summary\Summaries\\' + sub
    files1 = os.listdir(path)
    summaryFileName = []
    for f in files1:            #Creating list of all summary file names for particular category
        summaryFileName.append(f)
    
    #For creating list of summary
    for i in summaryFileName:
        with open(path1 + '\\' + i, 'r',encoding = 'utf-8') as in_file:
            try:
                file_text = in_file.read().replace('\n', '')
                globalSummary.append(file_text)
            except:
                print(path + i + '=============')
                continue

In [60]:
dictName = {'text' : globalText , 'summary' : globalSummary } #Creating dictionary of having keys text and summary
data = pd.DataFrame(data = dictName) #Coverting the dictionary in dataframe.

#Saving the dataframe as csv file for future feasibility.
#Csv file contanins two columns i.e text and summary
data.to_csv(r'C:\Users\Gehlot Pratik\Desktop\SEM-5\ML\pracs', index=False)

*WORKING WITH DATA*

*Done by all members on zoom*

In [55]:
df = pd.read_csv('texttocsv.csv')             #importing our dataset

In [56]:
df.head()                              #printing some rows

,text,summary
0,Ad sales boost Time Warner profitQuarterly pro...,TimeWarner said fourth quarter sales rose 2% t...
1,Dollar gains on Greenspan speechThe dollar has...,The dollar has hit its highest level against t...
2,Yukos unit buyer faces loan claimThe owners of...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profitsBritish Airwa...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts DomecqShares in UK ...,Pernod has reduced the debt it took on to fund...

In [63]:
len(df['text'])                  #printing len of column 0

2224

In [65]:
len(df['summary'])               #printing len of column 1

2224

*Selecting features and target variables*

In [66]:
features_x = df['text']

In [67]:
target_y = df['summary']

*Checking null values or not in the rows*

In [68]:
df.isna()

       text  summary
0     False    False
1     False    False
2     False    False
3     False    False
4     False    False
...     ...      ...
2219  False    False
2220  False    False
2221  False    False
2222  False    False
2223  False    False

[2224 rows x 2 columns]

*Printing shape to get row and column axis for isna*

In [69]:
print(df.shape)

(2224, 2)

In [71]:
df.isna().sum(axis = 0)  #along row no missing value

text       0
summary    0
dtype: int64

*Converting all text and summary to lowercase*

In [82]:
df['text'] = df['text'].str.lower()

In [84]:
df['summary'] = df['summary'].str.lower()

In [85]:
df.head()

,text,summary
0,ad sales boost time warner profitquarterly pro...,timewarner said fourth quarter sales rose 2% t...
1,dollar gains on greenspan speechthe dollar has...,the dollar has hit its highest level against t...
2,yukos unit buyer faces loan claimthe owners of...,yukos' owner menatep group says it will ask ro...
3,high fuel prices hit ba's profitsbritish airwa...,"rod eddington, ba's chief executive, said the ..."
4,pernod takeover talk lifts domecqshares in uk ...,pernod has reduced the debt it took on to fund...